
:root{
    --red-color : #e01e1e;
    --banner-color:#f6f6f6;
}

body{
    font-family: 'Poppins', sans-serif;
}



header {
    display: flex;
    padding: 1rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
   
    
}


header h1 {
    color: var(--red-color);
    cursor: pointer;
}


header .side-header > img{
     width: 1.5rem;
     cursor: pointer;
}



header .header-wrapper {
    display: flex;
    align-items: center;
}

header .header-wrapper nav ul {
    display: flex;
    margin-left: 2rem;
    cursor: pointer;    
}

header .header-wrapper nav ul li {
    margin-left: 2rem ;
}


header .side-header .avatar img{
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}


header .side-header {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
    
}


header .side-header > *{
    margin-left: 1rem;
}

/* making the header responsive */

@media (max-width: 840px) {
    /* CSS code for small screens */
    header{
        flex-direction: column;
    }
    
    header .header-wrapper{
        flex-direction: column;
        margin-bottom: 3rem;
    }

    header .header-wrapper nav ul{
       margin-left: auto;
       margin-right: auto;
    }

    header .side-header{
        margin-left: auto;
        margin-right: auto;
    }

    header h1{
        margin-bottom: 2rem;
    }

  }

  

  @media (max-width:639px)  {
    header .header-wrapper nav ul{
        flex-direction: column;
        
    }

    header .header-wrapper nav ul li {
         margin-bottom: 1rem;
    }
  }


/* banner section   */

.banner {
    margin-top: 5rem;
    text-align: center;
    background-color: var(--banner-color);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.banner  h2 {
    font-size: 1.7rem;
}

.banner  h2 img{
   width: 2rem;
   display: inline-block;
}

.banner p {
   letter-spacing: 3px;
   margin-bottom: 1rem;
}


 .red-word{
    color: var(--red-color);
}

/* Movie section */

.movie{
    margin-top: 5rem;
    display: flex;
    
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
   
}

.movie > img {
   margin-right: 5rem;
   border-radius: 1rem;
}

.movie .movie-content {
    max-width: 35rem;
}

.movie .movie-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
    cursor: pointer;
}

.movie .movie-content p{
    margin-bottom: 1rem;
    color: rgb(95, 94, 94);
}

.movie .movie-content span:last-child{
    margin-left: 0.5rem;
}
.movie .movie-content img {
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    
    
}

.movie .movie-content .logo-content {
    display: flex;
    margin-bottom: 2rem;
}

.movie .movie-content .logo-content span{
    margin-right: 0.7rem;
}

/* making the movie section responsive */

@media (max-width : 1154px){

    .movie{
       flex-direction: column;
       align-items: center;
    }

    .movie > img {
       margin-bottom: 1rem;
       margin-right: 0;
     }
}

@media (max-width: 639px) {
    /* CSS code for small screens */
     
    .movie{
        padding: 1rem;
    }
    .movie .movie-content h1{
        font-size: 2.5rem;


    }
  }


/* latest News Section   */

.title{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
}


.title h1{
    font-size: 2.3rem;
    font-family: sans-serif;
}


.title a {
    margin-left: auto;
    margin-right: 1rem;
}


/* News items */
.l-news{
    margin-bottom: 4rem;
}
.news-wrapper {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    column-gap: 1.5rem;
    row-gap: 5rem;
}


.news-wrapper .news-item {
    cursor: pointer;
    margin-bottom: 1rem;
    
}
.news-wrapper .news-item > img {
    width:25rem;
    border-radius: 1rem;
    height: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.news-wrapper .news-item h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.news-wrapper .news-item p{
    margin-bottom: 1.5rem;
    color: rgb(106, 105, 105);
}
.news-wrapper .news-item .l-news-logo {
    display: inline-block;
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.news-wrapper .news-item span {
    color: rgb(106, 105, 105);
    margin-left: 0.5rem;
}

/* making the news section responsive */

@media (max-width: 639px) {
    /* CSS code for small screens */
    .news-wrapper .news-item{
        padding: 1rem;
        
    }
    .title{
        padding: 1rem;
    }

    .title h1{
        font-size: 1.5rem;
    }

    
  }

  @media (min-width: 640px) and (max-width: 821px) {
    /* CSS code for medium screens */
    .news-wrapper{
        padding: 1rem;
    }

  }






  /* story section */

  .stories{
    margin-top: 8rem;
    margin-bottom: 5rem;
  }

  .avatars-wrapper{
    display: flex;
    flex-wrap: wrap; 
   justify-content: center;
   max-width: 95rem;
   margin-left: auto;
   margin-right: auto;
  }


  .avatars-wrapper .avatar-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }


  

  .avatars-wrapper .avatar-img img{
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
     border-radius: 50%; 
    margin-bottom: 0.3rem;  
    border: 2px solid var(--red-color);
  }

  .avatars-wrapper .avatar-img .avatar-desc{
      font-size: 0.9rem;
  }


  /* making the stories section responsive */




  
  @media (max-width: 639px) {
    /* CSS code for small screens */
    .avatars-wrapper .avatar-img img{
        width: 5rem;
        height: 5rem;
    }
    
  }


  @media (min-width: 640px) and (max-width: 821px) {
    /* CSS code for medium screens */
       .title{
        padding: 1rem;
       }

       .l-news{
        padding: 1rem;
       }
  }


  /* must read section */

  .news-wrapper.must-read-wrapper{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  }



  /* Editor's picks section */

  .editor-picks{
    margin-top: 10rem;
    
  }


  .editor-picks .e-p-banner{
    padding-top: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
    url("img/Editor_pick/iphone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    margin-bottom: 3rem;
    height: 30rem;
  }


 .e-p-banner .news-wrapper .news-item h1{
    font-size: 1.7rem;
    color: #fff;
 }

 .e-p-banner .news-wrapper .news-item span{
    color: #fff;
 }

 .e-p-banner .news-wrapper .news-item a {
    color: #fff;
 }


 .e-p-banner .news-wrapper .news-item p{
    color: #fff;
 }


 /* making the Editor's pick responsive */


 @media (min-width: 640px) and (max-width: 821px) {
    /* CSS code for medium screens */
    .editor-picks .e-p-banner{
        padding-top: 5rem;
        height: 40vh;
    }
    .editor-picks{
        padding: 1rem;
    }
  }

  @media (max-width: 639px) {
    /* CSS code for small screens */
      

    .editor-picks{
        padding: 1rem;
    }

    .editor-picks .e-p-banner{
        padding-top: 2rem;
        height: 70vh;
    }
  }
 

  /* Business and sport news section */
  .business_sport{
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 1.5rem; 
  }


  .news-wrapper.sport-item .news-item > img {
    height: 63%;
  }

  /* making the business and news section responsive */

  @media (max-width:1114px){
    .business_sport{
        grid-template-columns: 1fr;
    }

    .business-wrapper, .sport-wrapper{
        padding: 1rem;
    }

    .title.sport-title{
        margin-top: 1rem;
    }

    
  }

  @media (max-width: 639px) {
    /* CSS code for small screens */
   
    .news-wrapper.sport-item,
    .news-wrapper.business-item{
        grid-template-columns:  repeat(auto-fit,minmax(16rem,23rem)) ;
    }

    .business-wrapper , .sport-wrapper{
        overflow-x: hidden;
        overflow-y: hidden;
    }
  }


  

 

  
    
      
  

 

   
  


  